EMAIL=""
PASSWORD=""   # The 16-digit app password (spaces are ignored), recomend use app password instead of your real password for security reasons
IMAP_SERVER=imap.gmail.com
MODEL="Qwen/Qwen2.5-32B-Instruct-AWQ"   # The model to use, you can change it to other models supported by vllm, but make sure to update the vllm.bash file accordingly. Qwen2.5-32B-Instruct-AWQ is recommended for best performance and cost balance, but it can also run on smaller models like Qwen2.5-7B-Instruct-AWQ with reduced performance.
LLM_BASE_URL=""
LLM_API_KEY=""